<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="rms-header" class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title" th:text="#{app.short.name}"></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <!--<nav class="mdl-navigation mdl-layout&#45;&#45;large-screen-only">-->
                <!--<a class="mdl-navigation__link" th:href="@{/books/list}">Books</a>-->
                <!--<a class="mdl-navigation__link" th:href="@{/users/list}">Users</a>-->
                <!--<a class="mdl-navigation__link" th:href="@{/logout}">Logout</a>-->
            <!--</nav>-->
        </div>
    </header>
</html>