.box-center {
	align-items: center;
    justify-content: center;
}

.mdl-layout__content {
	padding: 24px;
	flex: none;
}

.demo-layout-transparent {
  background-color: #006be5;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}
.demo-drawer {
    border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
    z-index: -1;
}
.demo-drawer .demo-navigation {
    z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
    display: flex;
    align-items: center;
}
.demo-drawer-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}
.demo-avatar-dropdown {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
